body {
    color: black;
    background-image: url("../images/Stars.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    margin-left: 45px;
    margin-right: 30px;
    
}

#Ian {
    float: right;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    
}

h1 {
    color: darkblue;
    font-family: Verdana;
    text-shadow: 5px 5px 5px darkcyan;
}
 

.body {
    margin-left: 45px;
    margin-right: 330px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: whitesmoke;
}

#Buff {
    width: 20%;
    height: 20%;
}

h2 {
    color: rgb(56, 64, 218);
    font-family: Georgia;
}

h3 {
    color: rgb(56, 64, 218);
}

footer {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    margin-left: 45px;
    margin-right: 30px;
}

ul {
    display:flex;
    justify-content: space-around;
}